//Password Protect file
<Files index.py>
AuthName "Prompt"
AuthType Basic
AuthUserFile .htpasswd
Require valid-user
</Files>

//Change default directory page
DirectoryIndex index.py

//Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

//Prevent directory listings
Options All -Indexes

//Redirect everything not an asset to the index file
RewriteEngine on
RewriteCond %{REQUEST_URI} !/assets/.*$
RewriteRule ^.*$ index.py [NC,L]